body{
     box-sizing: border-box;
}
.main{
    height: 900px;
    width: 600px;
    background-color: antiquewhite;
   display: flex;
   justify-content: center; 
   align-items: center;
  justify-items: center;
  align-items: center;

   row-gap:10px;
}
.box{
    height: 100px;
     width: 200px;
     background-color: aqua;
     border:1px solid black;
}
.box1{
     flex-basis: 200px ;
}
.box2{

}