
body {
    margin: 5%;
    padding: 0;
    background-image: url('https://www.slashgear.com/img/gallery/netflix-4k-streaming-on-macos-big-sur-to-require-a-t2-security-chip/intro-import.jpg');
    background-size: cover;
}

.container {
    max-width: 300px;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.844);
    height: 400px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #fff;
    margin: 5%;
    text-align: left;
}

form input[type="text"],
form input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #5555554f;
    color: #fff;
    border: 1px solid #333;
}

button[type="submit"] {
    width: 86%;
    padding: 12px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
}

p {
    text-align: center;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.585);
}

a {
    color: #fff;
    text-decoration: none;
}
label{
    color: white;
    text-align: left;
}
.Forgot{
    cursor: pointer;
    margin-top: 3rem;
}
.Forgot:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.449);
}
.text1{
    font-size: 12px;
    margin-left: 4%;
    padding-right: 20px;
}
.under:hover{
    text-decoration: underline;
    cursor: pointer;
}
.logo img{
   width: 15%;
   margin-top: -4rem;
}

@media only screen and (max-width: 600px) {
    form {
      width: 90%;
    }
  }
